<main>
    <div class="ib main-content">
        <div class="paper-content-wrapper">
            <div class="paper-content">
                <section id="contact" class="section-content">
                    <h5>Contact Him</h5>
                    {{#each site.business.contact}}
                        <p><strong>Phone Number:</strong> <a href="tel:{{this.phone}}">{{this.phone}}</a></p>
                        <p><strong>Email:</strong> <a href="mailto:{{this.email}}">{{this.email}}</a></p>
                    {{/each}}
                    <ul>
                    {{#each site.regional.address}}
                        <li>{{this}}</li>
                    {{/each}}
                    </ul>
                </section>
                <section id="professional" class="section-content">
                    <h5>Professional Experience</h5>
                    <ul>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2014</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="company"><strong>Freelancing El Android HN Blog</strong></p>
                                <p class="title">Freelance Web Developer</p>
                                <p class="address">San Pedro Sula</p>
                                <p class="description">Owning a blog has proven good, this blog on Android Technology has given a lot of opportunity to test new stuff on the front end side, and as well to brand something new on my country, something that has never been done. The blog now has new projections for this year and build a media brand and own two technologies blogs: one for iOS/Mac and continue with the Android Branch.</p>
                            </div>
                        </li>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2012</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="company"><strong>San Services S de R. L.</strong></p>
                                <p class="title">Web Developer Front End</p>
                                <p class="address">San Pedro Sula</p>
                                <p class="description">San Services S. de R. L. is in charge of all systems and webpages of the company: Unique Vacations Limited from Bahamas to Miami, we asist with web development services and backend services on pages like www.sandals.com, www.beaches.com, www.grandpineapple.com and www.yourjamaicanvillas.com
                                <br><br>Has participated on three major reengineering on sandals and beaches websites along with the Travel Agents Portal and worked as front end web developer; by taking the psd design sent and turn them into real web pages with often dynamic content using Coldfusion as midtier.</p>
                            </div>
                        </li>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2012</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="company"><strong>Grupo Leitz</strong></p>
                                <p class="title">Application Developer - Genexus Analyst</p>
                                <p class="address">San Pedro Sula</p>
                                <p class="description">Collaborated with other team members on a cost calculating reports project using business logic reporting tools and Genexus 6 as backend platform.</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section id="education" class="section-content">
                    <h5>Education</h5>
                    <ul>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2011</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="education-center"><strong>Universidad Cat&oacute;lica de Honduras</strong></p>
                                <p class="title">Computer Science Degree</p>
                                <p class="address">San Pedro Sula, Honduras</p>
                            </div>
                        </li>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2002</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="education-center"><strong>Centro T&eacute;cnico Hondure&ntilde;o Alem&aacute;n</strong></p>
                                <p class="title">Electrician Technical High School Degree</p>
                                <p class="address">San Pedro Sula, Honduras</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section id="projects" class="section-content">
                    <h5>Projects</h5>
                    <ul>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2012</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="project"><strong>Sandals Website Reengineering</strong></p>
                                <p class="title">Front End Developer</p>
                            </div>
                        </li>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2013</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="project"><strong>Resort Product Update</strong></p>
                                <p class="title">Front End Developer/ Coldfusion Developer</p>
                            </div>
                        </li>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2013</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="project"><strong>Beaches Website Reengineering</strong></p>
                                <p class="title">Front End Developer/ Coldfusion Developer</p>
                            </div>
                        </li>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2014</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="project"><strong>Wedding Designer Reengineering</strong></p>
                                <p class="title">Front End Developer/ Coldfusion Developer</p>
                            </div>
                        </li>
                        <li>
                            <div class="ib left-side">
                                <p class="year"><strong>2014</strong></p>
                            </div>
                            <div class="ib right-side">
                                <p class="project"><strong>Travel Agent Portal Reengineering</strong></p>
                                <p class="title">Front End Developer/ Coldfusion Developer</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section id="languages" class="section-content">
                    <h5>Languages</h5>
                    <ul>
                        <li><strong>Spanish: </strong> <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> Native</li>
                        <li><strong>English: </strong> <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span> Fluent</li>
                        <li><strong>Portuguese: </strong> <span><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span> Very Basic</li>
                    </ul>
                </section>
                <section id="skills" class="section-content">
                    <h5>Skills</h5>
                    <!-- 630 -->
                    <ul class="progress">
                        <li data-name="HTML / CSS" data-percent="90%">
                            <svg viewBox="-10 -10 220 220">
                                <g fill="none" stroke-width="3" transform="translate(100,100)">
                                <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                                <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                                <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                                <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                                <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                                <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                                </g>
                            </svg>
                            <svg viewBox="-10 -10 220 220">
                                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="567"></path>
                            </svg>
                        </li>
                        <li data-name="Javascript / JQuery" data-percent="80%">
                            <svg viewBox="-10 -10 220 220">
                                <g fill="none" stroke-width="3" transform="translate(100,100)">
                                <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                                <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                                <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                                <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                                <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                                <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                                </g>
                            </svg>
                            <svg viewBox="-10 -10 220 220">
                                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="504"></path>
                            </svg>
                        </li>
                        <li data-name="ColdFusion" data-percent="70%">
                            <svg viewBox="-10 -10 220 220">
                                <g fill="none" stroke-width="3" transform="translate(100,100)">
                                <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                                <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                                <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                                <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                                <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                                <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                                </g>
                            </svg>
                            <svg viewBox="-10 -10 220 220">
                                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="441"></path>
                            </svg>
                        </li>
                        <li data-name="AngularJS" data-percent="60%">
                            <svg viewBox="-10 -10 220 220">
                                <g fill="none" stroke-width="3" transform="translate(100,100)">
                                <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                                <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                                <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                                <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                                <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                                <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                                </g>
                            </svg>
                            <svg viewBox="-10 -10 220 220">
                                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="378"></path>
                            </svg>
                        </li>
                        <li data-name="NodeJS" data-percent="70%">
                            <svg viewBox="-10 -10 220 220">
                                <g fill="none" stroke-width="3" transform="translate(100,100)">
                                <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                                <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                                <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                                <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                                <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                                <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                                </g>
                            </svg>
                            <svg viewBox="-10 -10 220 220">
                                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="441"></path>
                            </svg>
                        </li>
                        <li data-name="GulpJS" data-percent="85%">
                            <svg viewBox="-10 -10 220 220">
                                <g fill="none" stroke-width="3" transform="translate(100,100)">
                                <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                                <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                                <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                                <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                                <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                                <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                                </g>
                            </svg>
                            <svg viewBox="-10 -10 220 220">
                                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="567"></path>
                            </svg>
                        </li>
                    </ul><br>
                    <p>Has also knowledge and experience on Agile Methodology, MVC Methodology, Firebase</p>
                </section>
                <section id="hobbies" class="section-content">
                    <h5>Hobbies</h5>
                    <ul>
                        <li>Football(soccer), plays as the goalkeeper. <i class="fa fa-soccer-ball-o"></i></li>
                        <li>Reading blogs regarding to mobile development.</li>
                        <li>Running eventually, when the wheater is fine.</li>
                        <li>Stargazing, reading about astrophysics and listen to astrophysicists lectures.</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <aside class="ib navigation">
        {{> mainmenu}}
    </aside>
    {{!--
    <div class="">
        <h1>{{site.business.companyname}}</h1>
        <h2>{{site.business.catchphrase}}</h2>
        {{> submenu}}
    </div>
    --}}
</main>
