<head>
    <meta charset="{{site.seo.charset}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.seo.title}}</title>
    <base href="{{site.seo.base}}" target="_blank">
    <meta name="description" content="{{site.seo.description}}">
    <meta name="author" content="{{site.seo.author}}">
    <meta name="generator" content="Gulp Handlebars" />

    <link rel="canonical" href="{{site.seo.url}}" />
    <link rel="home" href="{{site.seo.url}}" />
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->

    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
